
main{
    height: 100%;
    
}
/* 輪播 */
.carousel{
    padding: 0%;
}
.carousel-inner .carousel-item img { 
    height:30vh;
    width: 20vh;

}

.carousel-item a{
    color:white;
}


/* 公告欄 */

.dummy {
    margin-top: 100%;
}
.block{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
   
    /* background-color:white; */
        
}
.article a{
    color:black;
}
.bigbox p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient: vertical;
}

.smbox p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}



.bigbox img{
    height: 30vh;
    width: 100%;
    border: 1px solid black;   
}
.man{
    width: 100px;
}
.name{
    vertical-align:text-bottom;
    height: 100px;
}
.smbox img{
    height: 15vh;
    width: 100%;
    border: 1px solid black;
}

