
main{
    height: 100%;
    
}
/* 輪播 */
.carousel{
    padding: 0%;
}
.carousel-inner .carousel-item img { 
    height:50vh;
    width: 20vh;

}
.carousel-caption h3,p{
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-item a{
    color:black;
}



/* 公告欄 */

.dummy {
    margin-top: 100%;
}
.block{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    box-shadow: 2px 2px 4px 0 #ccc;
    background-color:white;
    border-radius: 5px;
}
.article a{
    color:black;
}
.bigbox p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    margin-bottom:0.8rem;
}

.smbox p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.bigbox h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.smbox h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}

.sort .nav-item{
    color: black;
}
.sort .nav {
    background-color: rgb(245, 245, 245);
    color: black;
}

.sort .nav a {
    color: black;
}


.bigbox img{
    height: 75%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.boxC{
    /* height: 5%; */
    width:100%;
}
.man{
    width: auto;
    position: relative;
    display:flex;
    justify-content:space-around
}
.name{
    vertical-align:text-bottom;
    height: 100px;
}
.smbox img{
    height: 50%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

