main{
    height: 100%;
}


.btn button{
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
}

/* ------------表單----------- */
td,
th {
   
    width: 7vh;
    height: 7vh;
}
thead {
    background-color:black;
    color:#ffffff;
    text-transform:capitalize;
    text-align:center;
}
tbody {
    background-color:	white;
    text-align:center;
}
/* tbody tr:nth-child(2n) {
    background-color:	#97CBFF;
}
tbody tr:nth-child(2n+1) {
    background-color:#66b3ff;
} */
tbody tr:hover {
    background-color:paleturquoise;
    color:purple;
}


legend {
     
     /* font-weight:bold; */
     /* text-align:center; */
     /* margin-left:40px; */
 }
textarea {
    resize: none;
}
.SR{
    display: flex;
    justify-content: center;

}
.SR input{
    margin: 10px;
}
.AnnouncementId{
    /* text-align: right; */
    width: 100px;
    float: left;
}
.AnnouncementInformation{
    width: 450px;
    text-align:left;
    margin: 20px;
    padding-bottom: 10px;
    float: left; 
}
/* ----------------------------------- */

.box{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.box h3{
    background-color: wheat;
    border-radius: 15px 15px 0px 0px;
   
}