main{
    height: 110vh;
}


.btn button{
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
}

/* ------------表單----------- */
.tableAll td,th {
   
    width: 7vh;
    height: 5vh;
}
.tableAll thead {
    background-color:black;
    color:#ffffff;
    text-transform:capitalize;
    text-align:center;
}
.tableAll tbody {
    background-color:	white;
    text-align:center;
}

.tableAll tbody tr:hover {
    background-color:paleturquoise;
    color:purple;
}

textarea {
    resize: none;
}
.SR{
    display: flex;
    justify-content: center;

}
.SR input{
    margin: 10px;
}
.AnnouncementId{
    /* text-align: right; */
    width: 100px;
    float: left;
}
.AnnouncementInformation{
    margin: 20px;
    padding-bottom: 10px;
    float: left; 
}
.Features button{
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
}
.search button{
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
}
.daytime{
    display:flex;
    float: left;
}
.left{
    float: left;
    display:flex;
}

.box{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    /* box-shadow: 2px 2px 4px 0 #ccc; */
}
.box h3{
    background-color: wheat;
    border-radius: 15px 15px 0px 0px;
   
}
/* 分業 */
.pagination{
    display: flex;
    justify-content: center;
}