

/* --fieldset--- */
fieldset {
    /* width:1000px;    */
    /* background-color: rgb(243, 241, 129); */
}
legend {
     /* background-color: rgb(115, 147, 235); */
     /* font-weight:bold;
     text-align:center; */
     /* margin-left:40px; */
 }
textarea {
    resize: none;
}
.Information{
    width: 450px;
    text-align:left;
    margin: 20px;
    padding-bottom: 10px;
    /* float: left;    */
    
}
.caption{
    width: 100px;
    float: left;
}