

main {
    width: 900px;  
}



.searchbar{
    /* margin-left: 70px;
     */
    max-width: 900px;
    margin: auto;
}

.form-control_1{
    display: block;
    width: 280px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control_date{
    display: block;
    width: 168px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.eventbox{
    /* width: 360px;
    height: 360px; */
    padding: 0px;
    border: solid 1px black;
}

.eventdate{
    margin-left: 10px;
    font-size: 12px;
}

.eventtitle{
    margin-left: 9px;
    font-size: 20px;

}

.link{    
    color: black
}

.link:hover{
    text-decoration: none;
    color:black
}

.packdgelist{
    text-align: center;
    width:700px;
    height: 50px;
    margin-left:200px ;   
}

.packge{
    height: 300px;
    width: 1000px;
    border: 1px solid gray;
}

.pkg{
    padding-right: 20px;
    /* border-right: solid 1px gray; */
}

/* -------------------------- */

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1000px;
    
}


.card1 .card__img,
.card1 .card__img_hover  {
    background-image: url('../image/event/yoga.png');
}
.card2 .card__img,
.card2 .card__img_hover {
    background-image: url('../image/event/volunteer.jpg');
}

.card3 .card__img,
.card3 .card__img_hover {
    background-image: url('../image/event/bbq.jpg');
}

.card4 .card__img,
.card4 .card__img_hover {
    background-image: url('../image/event/beef.jpg');
}




.card__img {
    visibility: hidden;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    width: 120%;
    height: 235px;
}

/* .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
} */

.card__img_hover {
     transition: 0.5s all ease-out;
    /*background-size: cover;
    background-position: center;*/
    background-repeat: no-repeat; 
    width: 100%;
    position: absolute;
    height: 250px;
    top: 0;
    left: 0px;
    z-index: 99;
}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 15px !important;
    overflow: hidden;
    border: none !important;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1); */
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    /* border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; */
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 微軟正黑體;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 微軟正黑體;
    font-weight: bold;
}

.card__by {
    font-size: 12px;
    font-family: 微軟正黑體;
    font-weight: 500;
    
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img_hover {
    height: 100%;
    opacity: 0.5;
}

/* .card:hover .card__info {
    background-color: transparent;
    position: relative;
} */

.card:hover .card__info-hover {
    opacity: 1;
}

.form-control_select{
    display: block;
    width: 100px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control_select:hover{
    cursor: pointer;
}

.followup{
    border: 1px orange solid;
    background-color: white;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 6px;
    color: rgb(206, 136, 7);
}

.followup_yes{
    border: 1px orange solid;
    background-color: orange;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 6px;
    color:white;
}

.categoryhashtag{
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-bottom: 6px;
}