*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-bottom: 0px;
}
.navLogo{
    height: 50px;
}
.navTitle{
    display: inline;
}
a {
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.navNut{
    color: 	#FF8000;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("/image/nutritionConsult.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.bannerWord{
    padding-top: 15%;
    text-align: center;
    color: black;
}
.fadeIn{
    animation: fadeIn 2.5s;
}
/* jquery fadein */
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.line{
    width: 300px;
    border: 2px solid black;
    margin: 0 auto;
}
.nutritionistList{
    width: 100%;
}
.mud200{
    margin: 200px 0;
}
.memberRow{
    margin-bottom: 100px;
}
.magazine{
    height: 85%;
}


.article img {
    width: 100%;
}

.hltitle{
    font-size: 2rem;
    line-height: 36px;
}
.hlimg{
    width: 100%;
    height: 400px;
}
.borderb{
    border-bottom: 2px solid #dee2e6;
}
.uppersection .row{
    padding-bottom: 40px;
}
.posinitial{
    position: initial;
}
.author{
    position: absolute;
    bottom:3px;
    color: #969393;
    font-size: 12px;
}
.journal{
    font-weight: bold;
    color: black;
    font-size: 12px;
    padding-right: 5px;
}
@media (min-width: 1024px) {
    .col-lg-1-5 {
        max-width: 19%;
    }
}