.packagebtns{
    margin: auto;
    text-align: center;
    max-width: 600px ;
}


  .packageboxsss{
    margin: auto;
    max-width: 800px ;
  }

  .packagebox{
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
  }

