body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.nut {
    color: #FF8000;
}

.navLogo {
    height: 50px;
}

.navTitle {
    display: inline;
}

.bgOpa {
    background-color: rgba(239, 237, 234, .5);
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../image/nutritionConsult.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../image/nutritionist_cover.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../image/close-up-photo-of-green-leafed-plants-1213859.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("../image/adult-bowl-cute-daylight-1153370.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4 {
        background-attachment: scroll;
    }
}

.fadeIn {
    animation: fadeIn 2.5s;
}


/* jquery fadein */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line {
    width: 300px;
    border: 2px solid black;
    margin: 0 auto;
}

.mud200 {
    margin: 200px 0;
}

.nutritionistList {
    width: 100%;
}

.memberList {
    position: relative;
    margin: 30px 0 30px 0;
}

.overlayUptoDown {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(97, 175, 223, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .8s ease;
}

.memberUptoDown:hover .overlayUptoDown {
    bottom: 0;
    height: 100%;
}

.overlayFadeIn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(97, 175, 223, 0.5);
}

.memberFadeIn:hover .overlayFadeIn {
    opacity: 1;
}

.text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgba(97, 175, 223, 0.5);
    color: white;
    transform: rotateY(180deg);
}