
/*-公共設施- */
/* .small_title
{
    color: rgb(230, 230, 240);
    font-size: 40px;
    font-weight: 900;
    font-family: 微軟正黑體;
    margin: 10px 0;
    width: 340px;
    height: 150px;
    padding-top: 70px;
    padding-left: 90px;
    margin:20px 0 20px 40%;

    background-image: url(/image/public/BG_NO_smtitle.png);
}

.public_reservation
{
    display: flex;
    flex-wrap: wrap;
}
.public_reservation img
{
    width: 1024px;
    border: 10px double rgb(118, 152, 228) ;
    border-radius: 15px;  
}
/* -交誼廳- */
/* .lounge_div,.pool_div,.library_div,
.gym_div,.amusement_div,.meeting_div
{
    position: relative;
    margin: 20px auto;
}
.lounge_text,.pool_text,.library_text,
.gym_text,.amusement_text,.meeting_text
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    transition: .5s ease;
    background-color: rgba(248, 249, 250, 0.76); 
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(82, 76, 62, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .8s ease; 
    border-radius: 15px;
}
.lounge_div:hover .lounge_text,
.pool_div:hover .pool_text,
.library_div:hover .library_text,
.gym_div:hover .gym_text,
.amusement_div:hover .amusement_text,
.meeting_div:hover .meeting_text
{
    opacity: 1;
    bottom: 0;
    height: 100%;
}

.txt {
    color: rgba(218, 215, 173, 0.938);
    position: absolute;
    font-size: 40px;
    font-family: 'Acme', sans-serif, 'Noto Sans TC', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}  */


/* -預約服務- */
/* .reservation_div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.reservation_div img
{
    width: 626px;
    height: 396px;
}
.reservation_div img:hover
{
    outline:5px solid rgb(236, 130, 195); 
    border: 10px solid transparent;
    border-radius: 30px;
    transition: 1s ease-in-out;
}

.reservation_div p
{
    color: rgb(61, 36, 36);
    font-size: 24px;
    font-family: 'Acme', sans-serif, 'Noto Sans TC', sans-serif;
    margin: 20px 0 10px 0;
}
.reservation_div p:hover
{
    color: rgb(134, 90, 90);
}

.reservation_div a:hover
{
   text-decoration: none;
} */





/* -------Public--------- */
.public_div
{
    margin-top: 30px;
}
.public_introduction
{
    margin-top: 20px;
}
.public_buttngroup
{
    display: flex;
    list-style-type: none;
}
.public_buttn
{
    background-color: rgb(8, 8, 8);
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    width: 350px;
    margin-right: 1rem;
}
.public_buttn:hover
{
    color: yellow;
    cursor: pointer;
} 
.public_content img
{
    margin-top: 20px;
    margin-left: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 9px lightslategray;
    padding: 10px;
    margin-bottom: 5px;
}
.public_project
{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 6px lightgray;
    margin-left: 30px;
    margin-bottom: 30px;
}
.public_project h5
{
    font-weight: 900;
    color: rgb(3, 3, 116);
}
.public_project dt
{
    padding-left: 20px;
    
}
.public_project dd,ul
{
    padding-left: 40px;
}
.public_project a
{
    background-color: rgb(34, 34, 30);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 850px;
    font-size: 18px;
    color: white;
}
.public_project a:hover
{
    text-decoration: none;
    color: yellow;
}

.public_project img
{
    margin: 0;
    box-shadow: none;
    padding: 0;
}


.hide
{
    display: none;
}


/* -------Public_B--------- */

/* -------Reservation--------- */
.reservation_jumbotron
{
    margin-top: 20px;
    background-color: rgb(13, 14, 9);
    color:rgb(255, 255, 255);
}
.reservation_jumbotron h1
{
    padding-bottom: 20px;
}
.reservation_jumbotron p
{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.reservation_project
{
    display: flex;
    justify-content: space-between;
}
.reservation_project img
{
    width: 360px;
}
.reservation_project p
{
    color: black;
    font-size: 30px;
    font-weight: 900;
}
.reservation_project a:hover,
.reservation_project p:hover
{
    text-decoration: none;
    color: rgb(114, 23, 94);
}


/* car */
.car_jumbotron
{
    height: 400px;
    background-image: url(../image/Public_Reservation/Car11.jpg);
    margin-top: 20px;
}
h1, p
{
    font-weight: 900;
    text-align: center;
}
.jumbotron a
{
    margin-top: 30px;
    margin-left:450px;
}
.smalltitle
{
    padding: 20px 0;
    /* border: 2px solid red; */
}
.smalltitle p
{
    font-size: 34px;
}
.row
{
    display: flex;
    justify-content: space-between;
}
.car_promise
{
    background-color: rgba(211, 214, 206 ,0.4); 
}
.media
{
    margin: 0 auto;
    width: 800px;
    padding: 10px;  
}
.media-body
{
    margin-top: 40px;
}

.media-body p
{
    text-align: justify;
}
.card
{
    box-shadow:3px 3px 9px rgb(12, 12, 11);
}
.card:hover
{
    box-shadow:0px 0px 12px rgb(218, 63, 122);
}
.card-title
{
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}
.card-text
{
    text-align: justify;
}
.card-body a
{
    background-color: rgb(34, 34, 30);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 90px;
    font-size: 18px;
    color: white;
    
}
.card-body a:hover
{
    text-decoration: none;
    color: yellow;
}
.car_notice,
.fix_notice,
.clean_notice
{
    border: 5px solid lightseagreen;
    border-radius: 20px;
    font-size: 18px;
    padding: 20px 20px 0px 20px;
    padding-left: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}
.car_notice ul 
{
    list-style-type: disc;
}
/* clean */
.clean_jumbotron
{
    background-image: url(../image/Public_Reservation/Clean18.jpg);
    background-size: cover;
    height: 400px;
    margin-top: 20px;
    color: rgb(9, 25, 100);
}
.clean_promise
{
    display: flex;
    justify-content: space-between;
}
.clean_promise_div
{
    width: 400px;
    text-align: center;
}
.clean_promise_div img
{
    margin-top: 30px;
}
.clean_promise_div h5
{
    padding-top: 30px;
    font-weight: 900;
}
.clean_row
{
    display: flex;
    justify-content: space-around;
}
.clean_smcards
{
    margin: 30px 0;
}

.clean-title
{
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}
.clean-text
{
    text-align: justify;
}
.clean-body a
{
    background-color: rgb(34, 34, 30);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 170px;
    font-size: 18px;
    color: white;
    
}
.clean-body a:hover
{
    text-decoration: none; 
    color: yellow;
}
.clean_itemsOO li,
.clean_itemsXX li
{
    width: 50%;
}
.clean_itemsOO
{
    list-style-image: url(../image/Public_Reservation/OO.png);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    
}
.clean_itemsXX
{
    list-style-image: url(../image/Public_Reservation/XX.png);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 100px;
}
.clean_spendtime
{
    margin: 15px 0;
    color: gray;
}









/* fix */
.fix_jumbotron
{
    height: 400px;
    background-image: url(../image/Public_Reservation/Fix10.png);
    margin-top: 20px;
}
.fix_div
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.fix_items
{
    width: 500px;
    height: 460px;
    border: 2px solid transparent;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 9px rgb(56, 44, 44);
}
.fix_items:hover
{
    box-shadow:0px 0px 12px rgb(218, 63, 122);
}
.fix_items h3
{
    font-weight: 900;
    margin: 15px;
}
.fix_items a
{
    background-color: rgb(34, 34, 30);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 170px;
    font-size: 18px;
    color: white;
}
.fix_items a:hover
{

    color: yellow;
    text-decoration: none;
}



/* -------Reservation_B--------- */

.reservationB_current
{
    /* border: 3px solid black; */
    margin: 0 20px 20px 20px;
}
.reservationB_options
{
    /* border: 2px solid black; */
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
    font-size: 22px;
}
.current_table
{
    border: 4px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin-top: 20px;
}
.current_table th,td
{
    border: 2px solid black;
    width: 200px;
    text-align: center;
}
.current_table th
{
   height: 50px;
   font-size: 22px;
   background-color: gray;
}
.current_table td
{
   height: 70px;
}
.Page_navigation
{
    margin-top: 10px;
}
.pagination a
{
    background-color:rgb(112, 126, 250);
    color: white;
}




/* Reservation_detail_B */

.Reservation_detail_B
{
    border: 3px solid black;
    border-radius: 20px;
    /* width: 800px; */
    height: 300px;
    margin: 0 30px;
}
























/* 預約單 */

.page_form
{
    border:2px solid black;
    margin-bottom: 30px;
    border-radius: 15px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
figure
{
    padding: 15px 0;
    border:2px solid black;
    border-radius: 20px;
    width: 1043px;
    margin: 15px;
}
legend
{
    text-align: center;
    font-weight: 800;
    font-size: 26px;
    /* padding: 10px 0; */
}
.reservation_info
{
    text-align:center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600; 
}
.reservation_info2
{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;   
    margin-left: 200px;
}
.reservation_info3
{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;   
}

textarea
{
    resize: none;
}
.reservation_btn
 {
    margin-left: 210px;
    margin-top: 10px;
 }
 .reservation_btn input
 {
     background-color: black;
     border-radius: 10px;
     color: white;
     padding: 5px;
 }
 .reservation_btn input:focus
 {
     outline: none;
 }
 .reservation_btn input:hover
 {
    color: yellow;
 }



/* .page_buttngroup
{
    display: flex;
    list-style-type: none;
}

.page_buttn
{
    background-color: rgb(8, 8, 8);
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    width: 350px;
    margin-right: 1rem;
}
.page_buttn:hover
{
    color: yellow;
    cursor: pointer;
} 
.page_content img
{
    margin-top: 20px;
    margin-left: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 9px lightslategray;
    padding: 10px;
    margin-bottom: 5px;
}

.reservationB_div
{
    width: 750px;
    float: left;
    border: 3dpx solid black;
}
figure
{
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
}

.hidden
{
    display: none;
} */