body{
   background-image: url("../image/XVbCpW.jpg");
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
        .login {
            width: 500px;
            height: 500px;
            background-color: rgba(255,255,255, 0.01);
            border-radius: 5%;
            /* border: 10px solid white; */
            box-shadow: 0 0 10px #000;
            /*0 0不偏移 60px模糊  */
            backdrop-filter: blur(5px);
            /* backdrop-filter 濾鏡 */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 150px;
        }

        .form {
            width: 400px;
            color: white;
        }

        .form h3 {
            border-bottom: 1px solid #fff;
            font-size: x-large;
        }

        .form .group {
            margin-bottom: 20px;
        }

        .form label {
            line-height: 2;
            font-size: 20px;
        }

        .form input {
            width: 100%;
            border: 1px solid#aaa;
            line-height: 3;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        #chAccount{
            width: 10px;
        }
        .form .btn {
            font-size: 20px;
            border: none;
             background-color: rgba(29, 201, 72, 0.2);
            width: 190px;
            padding: 10px 0;
            border-radius: 10px;
            color: white;
        }
        .btnGroup{
            display: flex;
            justify-content: center;
        }

        #alert{
            font-size: 15px;
            color: red;
            display: flex;
            justify-content: flex-end;
            margin-top: -20px;
            /* display: none; */
        }

