        @font-face {
            font-family: 'Vibur';
            font-style: normal;
            font-weight: 400;
            src: local('Vibur'), url(https://fonts.gstatic.com/s/vibur/v11/DPEiYwmEzw0QRgTuJDsrdPXb.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        html,
        body {
            height: 100%
        }

        body {
            background-image: url(../image/akham.jpg);
            /* background: #112 url("https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg") center no-repeat; */
            background-size: cover;
            margin: 0;
        }

        .logo {
            animation-duration: 2s;
            text-align: center;
            width: 65%;
            height: 250px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            user-select: none;

        }

        .logo b {
            font: 400 19vh "Vibur";
            color: #fee;
            text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #1dd3bd, 0 0 0.5em #1dd3bd, 0 0 0.1em #1dd3bd, 0 10px 3px #000;
        }

        .logo b span {

            animation: blink linear infinite 2s;
        }

        .logo b span:nth-of-type(2) {
            animation: blink linear infinite 2.5s;
        }

        @keyframes blink {
            78% {
                color: inherit;
                text-shadow: inherit;
            }

            79% {
                color: #333;
            }

            80% {

                text-shadow: none;
            }

            81% {
                color: inherit;
                text-shadow: inherit;
            }

            82% {
                color: #333;
                text-shadow: none;
            }

            83% {
                color: inherit;
                text-shadow: inherit;
            }

            92% {
                color: #333;
                text-shadow: none;
            }

            92.5% {
                color: inherit;
                text-shadow: inherit;
            }
        }


        /* follow me @nodws */
        #btn-twtr {
            clear: both;
            color: #fff;
            border: 2px solid;
            border-radius: 3px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-family: sans-serif;
            font-size: 14px;
            width: 13em;
            padding: 5px 10px;
            font-weight: 600;
            position: absolute;
            bottom: 300px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
            opacity: 0.6;
        }

        #btn-twtr:hover {
            color: #fff;
            opacity: 1
        }